{
  "eslintIntegration": true,
  "stylelintIntegration": true,
  "singleQuote": true,
  "semi": false,
  "insertPragma": false,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "useTabs": false,
  "tabWidth": 2,
  "proseWrap": "preserve",
  "endOfLine": "auto"
}
